<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063807746735-98g9eib0r4jdpi33fedrkatptbifs1si.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063807746735-98g9eib0r4jdpi33fedrkatptbifs1si</string>
	<key>API_KEY</key>
	<string>AIzaSyA8k3YxuyOAlHMTdJ7N04fxDcuiuxxbdMk</string>
	<key>GCM_SENDER_ID</key>
	<string>1063807746735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hungvu.Sound-Seeker</string>
	<key>PROJECT_ID</key>
	<string>soundfinder-8b92b</string>
	<key>STORAGE_BUCKET</key>
	<string>soundfinder-8b92b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063807746735:ios:845a30c22b52978f9dca5a</string>
</dict>
</plist>